<html>
    <head>
        <title>
            Create profile
        </title>
    </head>

    <body>


        <h1>Create Profile</h1><br><br><hr>
        <form method = "POST" >

                <input type = "text" placeholder = "first name" name = "fname" id = "fname" required/>
                <input type = "text" placeholder = "last name" name = "lname" id = "lname" required/>
                <input type = "text" placeholder = "profile picture link" name = "image" id = "image" required/>
                <input type = "number" placeholder = "Roll number" id = "roll" name = "roll" required />
                <select id="branch" name="branch" >
                    <option value="cse">CSE</option>
                    <option value="mnc">MNC</option>
                    <option value="ece">ECE</option>
                    <option value="eee">EEE</option>
                    <option value="me">ME</option>
                    <option value="ep">EP</option>
                    <option value="cl">CL</option>
                    <option value="cst">CST</option>
                    <option value="ce">CE</option>
                    <option value="bt">BT</option>
                  </select><br><br>
                  <label for="about" > Stack: </label><br>
                  <textarea type = "text" placeholder="Tech stack  eg : app developer , web developer etc ." name = "stack" id = "stack" rows="4" cols="50"> </textarea><br><br>
                  <label for="about" > Interests: </label><br>
                  <textarea type = "text" placeholder="What you want to do" name = "interests" id = "interests" rows="4" cols="50"> </textarea><br><br>
                  
                  <input type = "submit" value = "Create">


        </form>

    </body>

</html>