<head>
    <title>Done!</title>
</head>

<body>

<h1>Profile Created Successfully !!</h1><br><br>

<h2>Profile link : <a href ="profile/<%= p_id%>" > <%= p_id%> </a></h2><br><br>
<h2>Edit token : <%= p_token%></h2>

</body>