<html>
    <head>
        <title>Updated !</title>
    </head>

    <body>

            <h1>Updated !!</h1>
            <br><br><hr>

            <br>

           <h2> Check your profile now : <a href ="profile/<%= data.p_id%>"> <%= data.p_id%> </a></h2><br><br></h2>

    </body>
</html>